body,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
blockquote,
dl,
dt,
dd,
ul,
ol,
li,
pre,
form,
fieldset,
legend,
button,
input,
textarea,
th,
td {
  margin: 0;
  padding: 0;
}
body,
button,
input,
select,
textarea {
  font-family: "Microsoft Yahei", "微软雅黑", arial, "Hiragino Sans GB", "宋体", Tahoma, Arial, Helvetica, STHeiti;
  font-size: 14px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
}
em {
  font-style: normal;
}
small {
  font-size: 14px;
}
ul,
ol {
  list-style: outside none none;
}
a {
  text-decoration: none;
  outline: 0;
}
a:hover {
  text-decoration: none;
}
input[type=button],
input[type=submit],
input[type=file],
button {
  cursor: pointer;
  -webkit-appearance: none;
}
select {
  -webkit-appearance: none;
  appearance: none;
  -moz-appearance: none;
}
select::-ms-expand {
  display: none;
}
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  line-height: 0;
  content: "";
}
.clearfix:after {
  clear: both;
}
.tc {
  text-align: center;
}
.left {
  float: left;
}
.right {
  float: right;
}
